# Fully resolved for CPython 3.11.9 from PyPI on 2026-08-29.
Django==5.2.17
asgiref==3.12.1
boto3==1.43.83
botocore==1.43.83
colorama==0.4.6
djangorestframework==3.18.0
iniconfig==2.3.0
jmespath==1.1.0
packaging==26.3
pluggy==1.6.0
psycopg==3.3.4
psycopg-binary==3.3.4
Pygments==2.21.0
pytest==9.1.1
pytest-django==4.14.0
python-dateutil==2.9.0.post0
s3transfer==0.19.2
six==1.17.0
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
